/* css for the index page */

/* global font settings */
* {
  font-family: 'Rajdhani', sans-serif;
  text-transform: lowercase;
}

/* use the whole viewport */
body,
html {
  width: 100%;
  height: 100%;
}

/* horizontal rule "divider" style */
.divider {
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: 1px solid;
  border-color: rgba(147, 164, 144, 1);
}

.name-divider {
  max-width: 45%;
}

hr.bio-divider {
  max-width: 80%;
}

/* landing page style */
.masthead {
  position: relative;
  background: url("../images/LC08_L1TP_036033_20180913_20180928_01_T1.jpg") no-repeat scroll center center / cover;
  height: 100%;
  width: 100%;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.name-section {
  height: 100%;
}

.name {
  font-size: 3em;
  color: white;
}

.tagline {
  font-size: 1.5em;
  color: white;
}

/* Github and LinkedIn links */
.pro-icons {
  width: 100%
}

.pro-icons ul {
  display: inline-block;
  float: none;
}

.pro-icons ul li {
  float: left;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.pro-icons ul li a {
  font-size: 3em;
  color: rgba(147, 164, 144, 0.65);
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.pro-icons ul li a:hover {
  color: rgba(255, 255, 255, 0.65);
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

/* bio section style (below the fold) */
.bio-section {
  position: relative;
}

.bio-background {
  background: url('../images/UT_TheNeedles_252344_1953_62500_geo_tif.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding: 0;
  z-index: -10;
}

.bio-overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  border-radius: 15px;
}

.bio-title {
  color: #fff;
  font-size: 2em;
  vertical-align: bottom;
}

.bio-heading {
  color: #fff;
  font-size: 1.25em;
  font-weight: 400;
}

.bio-subheading {
  color: #fff;
  font-weight: 300;
}

a:link a:visited {
  color: #fff;
}

a:visited {
  color: #fff;
}

a:hover {
  color: rgba(147, 164, 144, 1);
}

.content-section-heading {
  border-radius: 20px;
}

.service-icon {
  color: rgba(147, 164, 144, 0.7);
  font-size: 3em;
  font-weight: 300;
  padding-right: 0.25em;
}

.sub-icon {
  color: rgba(147, 164, 144, 0.8);
  font-size: 2em;
}

/* footer style */
#footer {
  background: #E4E8E3;
  padding-top: 20px;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer .site-info {
  width: 100%;
  color: rgb(201, 209, 199);
}

#footer .site-info ul {
  display: inline-block;
  float: none;
}

#footer .site-info ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#footer .site-info ul li a {
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  font-weight: 500;
  background: transparent;
  text-transform: uppercase;
}

#footer .fab p {
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 0;
  text-transform: lowercase;
}

.hover-darken:hover {
  color: rgb(129, 144, 126);
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.credits, .citations {
  font-size: 1em;
  color: rgb(176, 183, 174);
}

/* bootstrap adaptive styles */

/* if the screen size is 1325px wide or less, adjust formatting */
@media screen and (max-width: 1325px) {

  .name {
    font-size: 2em;
  }

  .tagline {
    font-size: 1em;
  }

  .footer, .citations, .credits {
    font-size: 0.75em;
  }

  .content-section-heading {
    font-size: 0.75em;
  }
}

/* if the screen size is 836px wide or less, adjust formatting */
@media screen and (max-width: 836px) {
  .name {
    font-size:1.75em;
  }

  .content-section-heading {
    padding-bottom: 1em;
  }
}

/* If the screen size is 375px wide or less, adjust formatting */
@media screen and (max-width: 375px) {
  .name {
    font-size: 1.5em;
  }

  .tagline {
    font-size: 0.85em;
  }

  .pro-icons {
    font-size: 1em;
  }
}
