/* default font */
* {
  font-family: 'Barlow', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-image: url('../images/canyonlands_3072x1920_30q_alt.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

/*--- navigation bar ---*/
.navbar {
  background: #fff;
}
.nav-link,
.navbar-brand {
  color: #284222;
  cursor: pointer;
  font-weight: 300;
  /* font-style: italic; */
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #798975;
  /* font-weight: 500; */
}
.navbar-collapse {
  justify-content: flex-end;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}

.description h1 {
  font-size: 3rem;
  font-weight: 200;
  color: white;
}

.description p {
  font-family: Barlow;
  font-size: 1.25rem;
  font-weight: 100;
  font-style: italic;
  line-height: 1.5;
  color: white;
}

.description button {
  border:1px solid #5E7159;
  background:#284222;
  border-radius: 5;
  color:#fff;
}

.description button:hover {
  border:1px solid #284222;
  background:#fff;
  color:#284222;
}

/* footer  */
.footer{
  font-family: Barlow;
  font-size: 1rem;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  position: absolute;
  bottom: 0%;
  width:100%;
  background: rgba(0, 0, 0, 0.2);
}

.footer-text{
  color: rgba(188, 196, 174, 0.35);
}

/* Github and LinkedIn links */
.fa{
  font-size: 3rem;
  color: rgba(188, 196, 174, 0.65);
}

.fa:hover{
  color: rgba(255, 255, 255, 0.65);
}


/* If the screen size is 375px wide or less, reduce font-size */
@media screen and (orientation : portrait) and (max-width: 375px) {

  .description h1 {
    font-size: 1.4rem;
  }

  .description p {
    font-size: 0.55rem;
  }

  .footer{
    font-size:0.3rem;
  }

  .fa{
    font-size:2rem;
  }
}
